@keyframes tonext {
  75% {
    left: 0; }
  95% {
    left: 100%; }
  98% {
    left: 100%; }
  99% {
    left: 0; } }

@keyframes tostart {
  75% {
    left: 0; }
  95% {
    left: -600%; }
  98% {
    left: -600%; }
  99% {
    left: 0; } }

@keyframes snap {
  96% {
    scroll-snap-align: center; }
  97% {
    scroll-snap-align: none; }
  99% {
    scroll-snap-align: none; }
  100% {
    scroll-snap-align: center; } }

@keyframes wiggle {
  0% {
    padding-top: 20px; }
  50% {
    padding-top: 28px; }
  100% {
    padding-top: 20px; } }

@media (min-width: 530px) {
  .h1-lg-fluid {
    font-size: 3.5rem !important;
    font-weight: 800 !important;
    letter-spacing: -0.025em !important;
    margin-bottom: 1rem !important; }
  .f0-lg-fluid {
    font-size: 0.95rem !important;
    font-weight: 200 !important;
    letter-spacing: 0.2rem !important;
    margin-bottom: 1rem !important; }
  .f1-lg-fluid {
    font-size: 2rem !important;
    font-weight: 600 !important;
    letter-spacing: -0.01em !important;
    margin-bottom: 1rem !important; }
  .f2-lg-fluid {
    font-size: 1.8rem !important;
    font-weight: 300 !important;
    letter-spacing: -0.01em !important;
    margin-bottom: 1rem !important; }
  .btn-xl {
    line-height: 2.3 !important;
    width: 380px;
    height: 88px; }
    .btn-xl img {
      width: 72px;
      padding: 8px;
      margin-top: -13px;
      margin-left: -10px;
      transition: all .35s ease-in-out; } }

@media (max-width: 529px) {
  .h1-sm-fluid {
    font-size: 2.5rem !important;
    font-weight: 800 !important;
    letter-spacing: -0.025em !important;
    margin-bottom: 1rem !important; }
  .f0-sm-fluid {
    font-size: 0.75rem !important;
    font-weight: 100 !important;
    letter-spacing: 0.15rem !important;
    margin-bottom: 1rem !important; }
  .f1-sm-fluid {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    letter-spacing: -0.01em !important;
    margin-bottom: 1rem !important; }
  .f2-sm-fluid {
    font-size: 1.2rem !important;
    font-weight: 300 !important;
    letter-spacing: -0.01em !important;
    margin-bottom: 1rem !important; }
  .btn-sm {
    line-height: 1 !important;
    width: 290px;
    height: 58px; }
    .btn-sm img {
      width: 58px;
      padding: 6px;
      margin-top: -6px;
      margin-left: -4px;
      transition: all .35s ease-in-out; } }

* {
  font-family: 'Raleway', sans-serif; }

body {
  color: #202020; }

html, body, .root {
  height: 100%; }

body, .root {
  display: flex;
  flex-direction: column; }

.text-light {
  color: #fff; }

.text-dark {
  color: #202020; }

.text-gray {
  color: #dadada; }

.text-primary {
  color: #2962ff; }

.text-gradient {
  background: linear-gradient(-70deg, #2962ff, #00c853) !important;
  background: -webkit-linear-gradient(-70deg, #2962ff, #00c853) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; }

.wrapper {
  flex: 1 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url("/assets/images/Server_blend_1361x740.jpg") !important; }
  .wrapper:after {
    content: "";
    position: fixed;
    /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100vh;
    /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1;
    /* needed to keep in the background */
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important; }

@supports (-webkit-touch-callout: none) {
  .wrapper {
    background-attachment: scroll !important; } }

@supports not (-webkit-touch-callout: none) {
  .wrapper {
    background-attachment: fixed !important; } }

.navbar-height {
  height: 116px; }

.navbar-logo img {
  margin-top: -8px; }

.bg-blur {
  background: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(19px) brightness(1.6) opacity(1) !important;
  -webkit-backdrop-filter: blur(19px) brightness(1.6) opacity(1) !important;
  transition: all 1s ease-in-out; }

.bg-primary {
  background-color: #2962ff;
  transition: all 1s ease-in-out; }

.topLine {
  position: absolute;
  top: 0;
  z-index: 10000;
  background: rgba(0, 200, 83, 0.6);
  width: 100%;
  color: #fff; }

.HomeSlider {
  position: relative;
  height: 100vh; }

.overflow-hidden {
  overflow: hidden !important; }

@media (max-height: 570px) {
  .HomeSliderContent {
    top: 260px; }
  .navbar-height {
    height: 68px !important; } }

.HomeSliderContent {
  position: absolute;
  margin-right: -50%;
  padding: 25px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 1080px;
  background: rgba(0, 0, 0, 0.4);
  border-width: 1px;
  border-color: black;
  border-style: solid;
  scrollbar-color: transparent transparent;
  /* thumb and track color */
  scrollbar-width: 0px;
  background: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(4px) brightness(0.6) opacity(1) !important;
  -webkit-backdrop-filter: blur(4px) brightness(0.6) opacity(1) !important; }

.home-slider-viewport {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  align-items: center; }
  .home-slider-viewport::-webkit-scrollbar {
    width: 0; }
  .home-slider-viewport::-webkit-scrollbar-track {
    background: transparent; }
  .home-slider-viewport::-webkit-scrollbar-thumb {
    background: transparent;
    border: none; }

.home-slider-slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-iteration-count: infinite; }
  .home-slider-slide:last-child .slide-snapper {
    animation-name: tostart, snap; }

.slide-snapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  animation-name: tonext, snap;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-iteration-count: infinite; }
